<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- This flavor disables recording: do not ship its privileged/microphone capture grants. -->
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" tools:node="remove" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" tools:node="remove" />

    <uses-permission android:name="android.permission.CALL_AUDIO_INTERCEPTION" tools:node="remove" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" tools:node="remove" />

    <application>
        <service android:name=".services.CallService" tools:remove="android:foregroundServiceType" />
    </application>
</manifest>
