*.iml
*.aab
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
keystore.jks
keystore.properties
*.p12
fastlane/fastlane.json
fastlane/report.xml
.kotlin/

# Python tooling
__pycache__/
*.pyc
